html {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
    background: rgb(36,226,231);
    background: linear-gradient(90deg, rgba(36,226,231,1) 18%, rgba(13,158,234,1) 40%, rgba(0,71,168,1) 71%);
    margin: 0;
    padding: 0;
}

.sendBtn: hover
{
    color: black;
}

ul.chat {
  list-style-type: none;
  width: 20em;
  padding: 0;
  margin: 0;
}

.chat__bubble {
  margin-bottom: 3px;
  padding: 5px 10px;
  border-radius: 10px 10px 2px 2px;
  max-width: 80%;
}

.chat__bubble--rcvd {
  background: #BE48DF;
  color: black;
  border-bottom-right-radius: 2px;
}

.chat__bubble--sent {
  background: #38B6FF;
  color: white;
  border-bottom-left-radius: 2px;
}
